#todo {
  padding-top: 50px;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(128, 0, 128, 0.678);
  border-radius: 8px;
  color: #fff;
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    margin-top: 10px;
  }
  button {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    margin-top: 10px;
    color: #fff;
  }
}
